

@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Cormorant+Garamond:wght@300&family=Kufam&family=PT+Sans&family=Shadows+Into+Light&family=Shadows+Into+Light+Two&display=swap');

*{ 
    margin: 0; 
    padding: 0; 
    font-family: 'Caveat Brush';
    box-sizing: border-box;
}
#container{
    width: 1400px;
    margin: auto;
    
    }
#image{
    padding: 0.5em 1em;
    height:400px;
    width: 100%;
}
nav{
    display: flex;    
}

 
header{
    
    justify-content: space-between;
    background-image: url('../img/PG.jpg');
    background-size: cover; 
    height: 400px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }
   
 .triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 110.5px 140px 110.5px;
    border-color: transparent transparent #E53F6F transparent;
    transform: rotate(46deg);
    float: inherit;
    margin-top: -230px;
    margin-left:640px;
 }
   

.cerf{
    height: 200PX;
    position: relative;
    z-index: 2; 
}
.fa-solid{ 
    color: rgb(240, 128, 171);
  
    margin-left:640px;
    
    


}

 h2{
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: 1.1em;
}

 
nav ul{ 
    margin:0;
    padding: 0;
    display: flex;
    margin-left: 34em;
    justify-content: space-evenly;

}

nav ul li{
    list-style: none;
    margin-left: 10em;
    float: left;
}

nav ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 900px; 
    font-weight:bold;
    color: black;
    float: left;
 }
 a:hover {
    background-color: rgba(240, 172, 192, 0.651);
  }


article{
    width: 90%; 
    margin: 1em auto; 
    display: flex;
    justify-content: space-evenly; 
   }
section{
    width: 100%; 
    text-align: center; 
    margin: 2em;
}

article .text{
  
    text-align: center;
    font-size: 20px;
 }
 .article2 section {
     width: 60%;
 }
h2{
    margin: 0px;
}
section.img{
    margin: -8px;
    width: 60%;


}

.pink{
        font-size: 0.9em;
        font-weight: bold;
        text-align: center;
        padding-top: 1em;
        color: rgb(229,63,111);
    }
.article1{
    padding: 0px;
    margin-left: 125px;

}
.article2 savon{
    width: 700px;
}
img{
    padding: 0%;
    width: 100%;
    height: 100% ;
}
article section{
    width:50%;
}
.text{
    width: 40%;
    padding: 0px;
    height: 30%;
    font-size: 14px;
}

.graine{
    width: 350px;
    height: 220px;
    padding: 0px;
    margin-left: 60PX;
}
.oeuf{
    
    height: 440px;
    width: 100%;
          

}

section{
  flex-wrap: wrap;
    align-items: center;
    margin: auto;
}
footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.5em 1em;
    height:200px;
    background-image:url(../img/motif.jpg);
   
}

.reseaux i{
    font-size: 1.4rem;
    padding: 0em 0.4em;
    color: rgb(229,63,111);
    line-height: 90px;
}
sup{
    color: rgb(229,63,111);
    font-weight: bold;
    font-size: 1em;
   
}
 .trait {
    
    width: 2em;
    height: 8px;
    margin-left: 1em;
    background-color:rgb(229,63,111);
    padding: 0px;
}

  @media screen and (max-width: 650px){
    nav{
        margin-right: 1em;
    }
    nav ul{
        display: flex;
        flex-direction: column;

    }
    nav ul li a{
        line-height: 150%;
        font-size: 1rem;
        line-height: 30px;
    }
    section{
        width: 100%; 
    }
    


}
 